*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: #add8e6;
    height: 80px;
}


.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo{
    text-align: left;
    border: dashed black;
    height: 30px;
    width: 100px;
    background-color: #daa520;
}

.link{
    text-align: center;
    border: dashed black;
    height: 30px;
    width: 330px;
    background-color: #daa520;

}

.login{
text-align: right;
border: dashed black;
height: 30px;
width: 100px;
background-color: #daa520;
}

.testo{
    height: 500px;
    background-color: #00008b;
}

.item{
    height: 400px;
    width: 60%;
    background-color: #ee82ee;
}

.layout{
    height: 500px;
    background-color:white;
}

.immagine{
    height: 400px;
    width: 40%;
    background-color:#1e90ff;
}

.descrizione{
    height: 400px;
    width: 25%;
    background-color:#ffc0cb;
}

.style{
    height: 500px;
    background-color:#d3d3d3;
}


.trovarsi-facile{
    height: 400px;
    width: 25%;    
    background-color:#ffc0cb;
}
.chiamata{
    height: 400px;
    width: 40%;
    background-color:#1e90ff;
}
