*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: #add8e6;
}

nav{
    padding: 10px 0;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container{
    padding-left:350px;
}

.logo{
    text-align: left;
    border: dashed black;
    height: 30px;
    background-color: #daa520;
}

.link{
    text-align: center;
    border: dashed black;
    height: 30px;
    background-color: #daa520;

}

.login{
text-align: right;
border: dashed black;
height: 30px;
background-color: #daa520;
}

.testo{
    height: 500px;
    background-color: #00008b;
}

.item{
    border: dashed black;
    height: 400px;
    width: 60%;
    background-color: #ee82ee;
}

.layout{
    height: 500px;
    background-color:white;
}

.immagine{
    border: dashed black;
    height: 400px;
    width: 40%;
    background-color:#1e90ff;
}

.descrizione{
    border: dashed black;
    height: 400px;
    width: 25%;
    background-color:#ffc0cb;
}

.style{
    height: 500px;
    background-color:#d3d3d3;
}


.trovarsi-facile{
    border: dashed black;
    height: 400px;
    width: 25%;    
    background-color:#ffc0cb;
}
.chiamata{
    border: dashed black;
    height: 400px;
    width: 40%;
    background-color:#1e90ff;
}

.box{
    border: dashed black;
    height: 700px;
    width: 65%;
    background-color: #228b22;
}

.colore{
    height: 800px;
    background-color:#d3d3d3;
}

.piè{
    height: 700px;
    background-color: #23272a;
}

.app{
    border: dashed black;
    background-color:#f08080;
    height: 500px;
    width: 25%;
}

.contatti{
    border: dashed white;
    background-color:#20b2aa;
    height: 500px;
    width: 10%;
}

.footer-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo-bottone{
    background-color: #ffb6c1;
    border: dashed black;
    width: 60px;
}

.color{
    background-color:#23272a;
    height: 80px; 
    margin-top: 1px;
}
.sfondo{
    background-color: #7fffd4;
    height: 60px;
    width: 65%;
}